@import "tailwindcss";

@theme {
  --color-cpg-blue: #0056b3;
  --color-cpg-dark: #0a192f;

  --animate-blob: blob 7s infinite;

  --radius-2xl: 16px;
  --radius-3xl: 24px;
}

@keyframes blob {
  0%, 100% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
}

body {
  background-color: #020617;
  color: #f1f5f9;
  background-image: radial-gradient(circle at 50% 0%, #1e293b 0%, #020617 100%);
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
