@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #020617;
  color: #f1f5f9;
  background-image: radial-gradient(circle at 50% 0%, #1e293b 0%, #020617 100%);
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
